body, html {
    margin: 0;
    padding: 0;
}

hr {
    border: none; /* Убираем стандартные границы */
    height: 1px; /* Задаем высоту */
    background-color: #1E0D00; /* Цвет линии */
    margin: 20px 0; /* Отступы сверху и снизу */
    width: 90%;
}

@keyframes slide-in {
    from {
        translate: 50vw 0;
        scale: 100% 1;
    }
    
}

@keyframes changeBtnConvert {
    0% {
        background-color: #ef7765;
    };
    20% {
        background-color: #ee725f;
    };
    40% {
        background-color: #ec6955;
    };
    60% {
        background-color: #e95d47;
    };
    80% {
        background-color: #e9513a;
    }
    100% {
        background-color: #e6462e;
    }
}


/* HEADER */

.headerConvert {
    width: 40%;
    height: auto;
    float: left;
    background-color: #FCA88F;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20%;
}

.headerConvert__menu {
    color: #1E0D00;
    display: grid;
    grid-template-rows: auto;
    gap: 40px;
    justify-content: center;
    list-style-type: none;
    font-size: large;
    align-items: center;
    align-content: center;
    width: 100%;
}

.headerConvert__menu > * {
    color: #1E0D00;
    text-decoration: none;
    font-size: 2.2vh;
    transition: all 0.35s ease-in;
}

.header_element_hover {
    color: #12116a;
    font-weight: bold;
    font-size: 2.4vh;
}

.activeMenu {
    color: #12116a;
    font-weight: bold;
    font-size: 2.4vh;
}

/* MAIN */
.mainBody {
    padding-top: 50px;
    position: absolute;
    margin-left: 45%;
    width: 55%;
    animation-duration: 2.5s;
    animation-name: slide-in;
}

.mainBody__h3 {
    color: #12116a;
    font-size: 3.8vh;
    text-align: center;
}

.mainBody__btns {
    width: 80%;
    margin: auto;
    text-align: center;
    display: grid;
    gap: 40px;
    grid-template-columns: 25% 25%;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 61%;
}

.mainBody__banner2 {
    z-index: -23;
    position: absolute;
    margin-left: 40%;
    width: 500px;
    transform: scaleX(-1) rotate(-30deg);
}


@media (max-width: 1800px) {
    .mainBody__banner2 {
        z-index: -23;
        position: absolute;
        margin-left: 25%;
        width: 70%;
        height: 60%;
        transform: scaleX(-1) rotate(-30deg);
    }
}


/* Other */

.dopInfo {
    background-color: #9ceb9d;
    padding: 20px;
    border: 1px solid #9ceb9d;
    border-radius: 20px;
    position: absolute;
    margin-left: 0%;
    font-weight: 600;
}

.spanBlock {
    padding: 5px 10px 5px 10px;
    background-color: #1E0D00;
    border-radius: 8px;
    color: white;
}

.profileBody {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    justify-content: center;
}

.profileBody__left {
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.profileBody__left > img {
    width: 80%;
    border-radius: 20px;
    margin: auto;
}

.profileLeft__btns {
    display: grid;
    gap: 10px;
}

.profileMenuItem {
    background-color: #26243e;
    color: white;
    font-weight: 500;
    font-size: 2.1vh;
    padding: 2px 10px 2px 15px;
    border-radius: 10px;
    width: 45%;
}

.profileBody__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profileSettings {
    display: grid;
    width: 100%;
    grid-template-columns: 42% 42%;
    gap: 40px;
    justify-content: left;
    margin: auto;
}


/* CONVERT */

.convertBody {
    display: grid;
    grid-template-columns: auto;
    gap: 20px
}

.btnToConvert {
    background-color: #ef7765;
    border-radius: 20px;
    padding: 20px;
    color: white;
    border: none;
    font-weight: bold;
    width: 40%;
    margin: auto;
    text-align: center;
}

.btnToConvert:hover {
    animation-name: changeBtnConvert;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.convertBody__files {
    display: grid;
    grid-template-columns: auto;
    width: 80%;
    margin: auto;
    gap: 25px;
}

.convertBody__files > select {
    padding: 10px;
    color: black;
    border-radius: 10px;
    border: 2px solid #e31788;
    background-color: white;
}

.input-file {
	position: relative;
	display: inline-block;
}

.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(0, 0, 0);
	text-align: center;
	border-radius: 4px;
	background-color: #e9b45a;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}

.input-file input[type=file] {

	position: absolute;

	z-index: -1;

	opacity: 0;

	display: block;

	width: 0;

	height: 0;

}

 

/* Focus */

.input-file input[type=file]:focus + span {

	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);

}

 

/* Hover/active */

.input-file:hover span {

	background-color: #59be6e;
    color: white;

}

.input-file:active span {

	background-color: #efc06d;

}

 

/* Disabled */

.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

.convertBody__selectTypeFile {
    color: #26243e;
    font-weight: 600;
    font-size: 2vh;
}