@keyframes btn {
    from {
        border: 2px solid #ff6052;
    }
    to {
        border: 2.2px solid #5d3f90;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 0); background-color: #f86f63; }
    25% { transform: translate(-1px, 0); background-color: #ff6052; }
    50% { transform: translate(1px, 0); background-color: #fa5647; }
    75% { transform: translate(-1px, 0); background-color: #fc4737; }
    100% { transform: translate(1px, 0); background-color: #ec4132; }
}

.modalAuthMenu {
    width: 45%;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding-bottom: 40px;
}

.modalAuthMenu__body {
    display: grid;
    gap: 20px;
    width: 70%;
    margin: auto;
}

.modalAuthMenuBody__h2 {
    text-align: center;
    color: #12116a;
    font-size: 3vh;
}

.modalAuthMenuBody__header {
    padding-top: 40px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modalAuthMenuBody__header > img {
    border-radius: 30%;
    width: 100%;
    height: auto;
}

.modalAuthMenu__buttons {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.modalAuthMenuR__buttons {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
    justify-content: center;
    align-items: center;
}


.inputField {
    border: 1px solid #5d3f90;
    border-radius: 20px;
    padding: 10px;
    width: 97%;
    color: #ff6052;
    font-weight: 600;
}

.authButton {
    background-color: white;
    border: 2px solid #ff6052;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 1.6vh;
}

.authButton:hover {
    animation-name: btn;
    animation-duration: 1.2s;
}

.closeModal {
    position: absolute;
    margin-left: 35%;
    margin-top: 1%;
    background-color: #ff6052;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all 1s ease-in-out;
}

.closeModal:hover {
    padding: 13px;
    color: #12116a;
}

.shake {
    display: inline-block;
    animation: shake 1s ease-in-out;
}

.errorMessage {
    visibility: hidden;
    display: grid;
    
    align-items: center;
    justify-content: center;
    background-color: #fc4737;
    border-radius: 20px;
    width: 100%;
    color: white;
    padding-right: 4%;
}

.closeModalTwo {
    position: absolute;
    margin-left: 31%;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #12116a;
    font-size: 1.5vh;
    transition: all 0.7s ease-in-out;
    padding-left: 6px;
    padding-right: 6px;
}

.closeModalTwo:hover {
    font-size: 2vh;
    padding: 6px;
}